#about-container {
    padding-top: 80px;
    text-align: center;
    background-color: var(--pink1);
}

#about {
    text-align: center;
    margin: auto;
    padding: 14px;
    width: 80%;
    text-align: -webkit-center;
}

#profile-picture {
    border-radius: 100%;
    object-fit: cover;
    height: 40vh;
    width: 80%;
}

#about-me {
    background-color: var(--light-pink);
    padding: 40px;
    text-align: center;
    line-height: 1.5;
    margin-top: 80px;
}

p {
    margin: 14px 0;
}

@media screen and (min-width: 425px) {
    #profile-picture {
        width: 400px;
        height: 50vh;
    }
}

@media screen and (min-width: 768px) {
    #profile-picture {
        width: 500px;
        height: 60vh;
    }
}

@media screen and (min-width: 1440px){
    #about-container {
        display: flex;
        width: 60%;
        margin: 85px auto;
    }

    #about-me {
        width: 50%;
    }

    #about {
        width: 40%;
    }
}