#about-container {
    padding-top: 80px;
    text-align: center;
    background-color: var(--darker-pink);
}

#about {
    text-align: center;
    margin: auto;
    padding: 14px;
    width: 80%;
    text-align: -webkit-center;
}

#profile-picture {
    border-radius: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#about-me {
    background-color: var(--light-pink);
    padding: 40px;
    text-align: center;
    line-height: 1.5;
    margin-top: 80px;
}

#about-me h4 {
    color: var(--darker-pink);
}

#about-me h1 {
    font-family: var(--play-fair);
    padding: 20px 0;
}

#about-me p {
    padding-bottom: 20px;
}


@media screen and (min-width: 425px) {
    #profile-picture {
        width: 400px;
    }
}

@media screen and (min-width: 768px) {
    #profile-picture {
        width: 500px;
    }
    #about-me p {
        width: 600px;
        margin: auto;
    }
}
