:root {
    --white: #ffffff;
    --pink: #fa8071;
    --darker-pink: #f46459;
}

#home {
    background-image: url(../images/dunedin_dark.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.center {
    padding: 2rem;
    text-align: center;
    max-width: initial;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

@media screen and (min-width: 426px) {
    #home {
        background-image: url(../images/dunedin_dark.jpg);
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        color: var(--white);
        display: flex;
        justify-content: center;
        height: 1000px;
        align-items: center;
    }
    .center {
        margin: 10rem 0;
        padding: 2rem;
        text-align: center;
        font-size: 3rem;
        max-width: initial;
        height: 20rem;
    }

    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 40px;
    }
}
