:root {
    --white: #ffffff;
    --pink: #fa8071;
    --darker-pink: #f46459;
}

.main-project {
    margin: 20px 8px;
}

.featured {
    text-align: right;
    color: var(--pink);
}

.featured-title {
    width: 80%;
    color: var(--darker-pink);
}

.featured-description {
    background-color: var(--darker-pink);
    color: var(--white);
    padding: 1rem;
    border-radius: 0.5rem;
}

.large_image {
    width: 100%;
    display: flex;
    object-position: top;
    object-fit: cover;
    grid-column: 1 / 9;
    grid-area: 1 / 6 / 1 / span 9;
}

.small_image {
    border: 6px solid var(--darker-pink);
    width: 100%;
    height: 24rem;
    object-position: top;
    object-fit: cover;
}


.small-project {
    width: 100%;

}

.content {
    align-self: center;
    font-size: 18px;
}

.content a {
    text-decoration: none;
}

.project_1 {
    padding-left: 20px;
    flex: 0 0 60%;
    grid-column: 2 / span 3;
    grid-row: 1 / span 6;
    border-left: 2px solid var(--darker-pink);
    width: 50%;
    display: flex;
    text-align: left;
}

#portfolio {
    position: relative;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.text-block {
    position: relative;
    padding: 1rem 0;
    line-height: 1.5;
    text-align-last: left;
    grid-column: 7 / -1;
    grid-area: 1 / 1 / -1 / 7;
    align-self: center;
}

.text-block ul {
    flex-wrap: wrap;
    grid-area: 1 / 1 / 1 / 7;
    grid-column: 7 / -1;
    width: 80%;
}

.text-block ul li {
    display: inline;
    margin: 5px 20px 0 0;
}

.icon-link,
.icon-github {
    color: var(--pink);
    font-size: 40px;
    padding: 6px;
    border: 0.2rem solid transparent;
}

.icon-link:hover,
.icon-github:hover {
    border: 0.2rem solid var(--pink);
    border-radius: 1rem;
}

.project {
    object-position: center;
    object-fit: cover;
}

@media screen and (min-width: 426px) {
    .content {
        align-self: center;
        font-size: 18px;
    }

    .main-project {
        display: grid;
        margin: 4rem 0;
        gap: 1rem;
        grid-template-columns: 1fr repeat(12, 1fr);
    }

    .featured {
        text-align: right;
        color: var(--pink);
    }

    .featured-title {
        width: 80%;
        color: var(--darker-pink);
    }

    .featured-description {
        background-color: var(--darker-pink);
        color: var(--white);
        padding: 1rem;
        border-radius: 0.5rem;
    }

    .large_image {
        width: 100%;
        display: flex;
        object-position: top;
        object-fit: cover;
        grid-column: 1 / 9;
        grid-area: 1 / 6 / 1 / span 9;
    }

    .small_image {
        border: 6px solid var(--darker-pink);
        width: 100%;
        height: 24rem;
        display: inline-flex;
        object-position: top;
        object-fit: cover;
    }


    .small-project {
        width: 45%;

    }

    .content a {
        text-decoration: none;
    }

    .project_1 {
        padding-left: 20px;
        flex: 0 0 60%;
        grid-column: 2 / span 3;
        grid-row: 1 / span 6;
        border-left: 2px solid var(--darker-pink);
        width: 50%;
        display: flex;
        text-align: left;
    }

    #portfolio {
        display: flex;
        position: relative;
        align-items: flex-start;
        width: 80%;
        margin: auto;
    }

    .text-block {
        position: relative;
        padding: 1rem 0;
        line-height: 1.5;
        text-align-last: left;
        grid-column: 7 / -1;
        grid-area: 1 / 1 / -1 / 7;
        align-self: center;
    }

    .text-block ul {
        flex-wrap: wrap;
        grid-area: 1 / 1 / 1 / 7;
        grid-column: 7 / -1;
        width: 80%;
    }

    .text-block ul li {
        display: inline;
        margin: 5px 20px 0 0;
    }

    .icon-link,
    .icon-github {
        color: var(--pink);
        padding: 6px;
        border: 0.2rem solid transparent;
    }

    .icon-link:hover,
    .icon-github:hover {
        border: 0.2rem solid var(--pink);
        border-radius: 1rem;
    }

    .project {
        display: inline-flex;
        object-position: center;
        object-fit: cover;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin: 2rem 0;
    }

    .column {
        flex: 1 0 80%;
        padding: 1.5rem;
        display: grid;
        transition: flex-basis 500ms linear;
        grid-template-columns: 1fr repeat(3, 2fr);
        margin-bottom: 1.5rem;
        gap: 0 20px;
    }

    .margin2 {
        margin: 2rem;
    }

}
