.resume-nav {
    background-color: var(--teal);
    height: 80px;
    top: 0;
    position: sticky;
}

.resume-container {
    background: radial-gradient(circle, rgba(157,223,223,1) 0%, rgba(99,183,183,1) 100%);
    color: var(--white);
    width: 100%;
    padding: 5vh 6vw;
    line-height: 2;
    text-align: center;
}

.resume-title {
    font-family: var(--play-fair);
}

.card-resume-container {
    padding: 40px 0;
}

.card-resume-container ul {
    padding: 20px 0;
    list-style: none;
    line-height: 2;
}



.kiwi-grad {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .resume-container {
        display: flex;
        justify-content: space-around;
        height: 95vh;
        align-items: center;
    }

    .card-resume-container {
        width: 45%;
        align-self: center;
    }

    .kiwi-grad  {
        width: 400px;

    }
    .kiwi-grad-container {
        width: 45%;
    }
}

@media screen and (min-width: 1024px) {
    .card-resume-container {
        width: 940px;
        margin: auto;
    }
}
