.featured-container {
    width: 100%;
}

.text-block {
    background-color: var(--white);
    padding: 40px;
    color: var(--black);
    display: grid;
}

.large-image {
    width: 100%;
}

.tech-list {
    list-style: none;
    padding: 14px 0;
}

.featured-title {
    font-family: var(--play-fair);
    padding: 20px 0;
}

.featured {
    color: var(--darker-blue);
    text-transform: uppercase;
}

.TR .project-icon a,
.MSL .project-icon a,
.Cellar .project-icon a{
    color: var(--darker-blue);
}

.tech-list li {
    font-style: italic;
    text-transform: uppercase;
    padding: 6px 0;
}


@media screen and (min-width: 768px) {
    .featured-container {
        display: flex;
        height: 60vh;
        justify-content: space-around;
        background-color: var(--blue);
        width: 100%;
        text-align: center;
        padding: 40px;
    }

    .large-image {
        align-self: center;
        width: 40%;
    }

    .text-block {
        width: 45%;
    }

    .TR {
        background-color: var(--blue2);
    }

    .MSL {
        background-color: var(--light-blue);
    }


}

@media screen and (min-width: 1024px) {
    .featured-container {
        height: 60vh;
        justify-content: space-evenly;

    }

    .large-image {
        width: 30vw;
    }

    .text-block {
        width: 400px;
    }
}

