.footer {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: var(--white);
    height: 80px;
    font-size: 20px;
    align-items: center;
}

.footer-icon {
    color: var(--black);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    position: relative;
}

.footer-icon:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--black);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.footer-icon:hover:after {
    width: 100%;
    left: 0;
}




@media screen and (min-width: 426px) {
    .footer {
        height: 110px;
    }
    .footer-icon {
        font-size: 36px;
    }
    .footer-icon:hover {
        font-size: 36px;
    }
}
