.footer {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: var(--white);
    height: 80px;
    font-size: 20px;
    align-items: center;
}

.footer-icon {
    color: var(--black);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem solid transparent;
}

.footer-icon:hover {
    border: 0.2rem solid var(--black);
    border-radius: 1rem;
}

@media screen and (min-width: 426px) {
    .footer {
        height: 110px;
    }
    .footer-icon {
        font-size: 36px;
    }
    .footer-icon:hover {
        font-size: 36px;
    }
}
