.footer {
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    padding: 10px;
    background-color: var(--darker-pink);
    height: 80px;
    font-size: 20px;
    align-items: center;
}

.footer-icon {
    color: var(--white);
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    border: 0.2rem solid transparent;
}

.footer-icon:hover {
    border: 0.2rem solid var(--white);
    border-radius: 1rem;
}

