.heroContainer {
    display: grid;
    background: radial-gradient(circle, rgba(197,244,189,1) 0%, rgba(143,202,133,1) 100%);    padding-top: 60px;
}

.heroText {
    text-align: center;
}

.heroText h1 {
    color: var(--white);
    font-family: var(--play-fair);
    font-size: 2rem;
    padding: 40px 25px 0;
}
.heroText p{
    padding: 20px;
}

.heroImage {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .heroContainer {
        display: flex;
        flex-direction: row-reverse;
        place-content: center;

    }

    .heroText {
        align-self: center;
    }

    .heroText p {
        font-size: 18px;
    }


    .heroImage {
        width: 50%;

    }
}

@media screen and (min-width: 1024px) {
    .heroImage {
        width: auto;
        height: 92vh;
    }

    .heroText h1 {
        font-size: 40px;
    }

    .heroText p {
        font-size: 24px;
    }
}