.navbar {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
}

.navbar-logo {
    background-image: url("../pages/assets/images/logo2.png");
    height: 60px;
    width: 20%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px 0 10px 20px;
}

.menu-icon {
    font-size: 25px;
    padding-right: 20px;
    z-index: 2;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    opacity: 0;
}

.navbar-menu.active {
    display: flex;
    z-index: 1;
    background: var(--white);
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    border: 10px solid var(--green);
    opacity: 1;
    top: 0;
    transition: 0.5s cubic-bezier(0.52, 0.01, 0.16, 1);
    height: 100vh;
}

.nav-item {
    display: flex;
    height: 80px;

}

.nav-link {
    text-decoration: none;
    padding: 10px;
    align-self: center;
    color: black;
}

@media screen and (min-width: 426px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        height: 80px;
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: transparent;
    }

    .navbar-menu {
        display: contents;
        grid-template-columns: repeat(5, auto);
        list-style: none;
        grid-gap: 10px;
        text-align: center;
        width: 70vw;
        justify-content: end;
        align-items: center;
        opacity: 1;
    }

    .menu-icon {
        display: none;
    }

    .nav-item {
        display: flex;
        height: 80px;
    }


}